@import "reset";

html {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 60rem;
  padding: 0 3.75rem;
  margin: auto;
}

.form {
  max-width: 30rem;
}

.table {
  max-width: 30rem;
  height: auto;
}

.calc-container {
  margin: 5rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  display: block;
  margin: 1rem auto;
}

.new-item{
  color: blue!important;
}